<h2>Lista ventas</h2>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>IdVenta</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaVentas">
        <td>{{item.idVenta}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.fecha | date:'dd/MM/yyyy' }}</td>
        <td>{{item.total | number : '1.2-2'}}</td>
        <td>
          <span>
            <ng-template #eliminar>Eliminar registro!</ng-template>
            <ng-template #detalle>Ver detalle venta</ng-template>
            <button class="btn btn-outline-primary btn-sm fa fa-align-left" [ngbTooltip]="detalle" (click)="open(item)"></button>
            <button class="btn btn-outline-warning btn-sm fa fa-edit"></button>
            <button class="btn btn-outline-danger btn-sm fa fa-trash" [ngbTooltip]="eliminar"></button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>