<div class="col-sm-12">
  <h2>Registro de Productos</h2>
  <div *ngIf="!isValid" class="alert alert-warning col-sm-8">
    <strong>Danger!</strong> {{mensage}}
  </div>
  <div class="form-group col-sm-8">
    <label for="categoria">Categoria</label>
    <select class="form-control" id="categoria" [(ngModel)]="selectedOption" (change)="cargarTipoProducto()">
      <option *ngFor="let item of categorias" [value]="item.idCategoria">
        {{item.descripcion}}
      </option>
    </select>
  </div>
  <div class="form-group col-sm-8">
    <label for="tipo">Tipo</label>
    <select class="form-control" id="tipo" [(ngModel)]="producto.idTipoproducto.idTipoproducto">
      <option *ngFor="let item of tipoProductos" [value]="item.idTipoproducto">
        {{item.descripcion}}
      </option>
    </select>
  </div>
  <div class="form-group col-sm-8">
    <label for="nombre">Nombre del Producto</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.descripcion" placeholder="ingrese nombre">
  </div>
  <div class="form-group  col-sm-5">
    <label for="precio">Precio</label>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text">S/</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="producto.precio" placeholder="ingrese precio">
    </div>
  </div>
  <div class="form-group  col-sm-5">
    <button (click)="guardarProducto()" class="btn btn-primary">Registrar</button>
  </div>
</div>