<div *ngIf="!isValid" class="alert alert-danger main-form">
  <strong>Danger!</strong> {{mensage}}
</div>
<div class="col-sm-12">
  <div class="form-group  col-sm-9">
    <h1>Lista Tipo de Producto</h1> <button [routerLink]="['/crearTipoProducto']" class="btn btn-primary">Agregar Tipo
      Producto</button>
  </div>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.idCategoria.descripcion}}</td>
        <td>{{item.descripcion}}</td>
        <td><span>
            <i class="fa fa-trash cursor fa-lg" (click)="deleteTipoProducto(item)"></i></span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>