<ng-http-loader></ng-http-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group panel ">
                <a [routerLink]="['/inicio']" class="list-group-item" style="font-size:40px"><i></i>
                    <span class="hidden-sm-down">SOANDI</span>
                </a>
                <a href="#producto" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false"><i
                        class="fa fa-cutlery"></i> <span class="hidden-sm-down"> Mantenimiento</span>
                </a>
                <div class="collapse" id="producto">
                    <a [routerLink]="['/productos']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Lista Productos
                    </a>
                    <a [routerLink]="['/tipoProducto']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Lista Tipo Producto
                    </a>
                </div>
                <a href="#ventas" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false"><i
                        class="fa fa-money"></i> <span class="hidden-sm-down"> Ventas</span>
                </a>
                <div class="collapse" id="ventas">
                    <a [routerLink]="['/crearVenta']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Registrar
                    </a>
                    <a [routerLink]="['/ventas']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Listar
                    </a>
                </div>
                <a href="#reportes" class="list-group-item collapsed" data-toggle="collapse" aria-expanded="false"><i
                        class="fa fa-calendar-check-o"></i> <span class="hidden-sm-down"> Reportes</span>
                </a>
                <div class="collapse" id="reportes">
                    <a [routerLink]="['/inicio']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Diarios
                    </a>
                    <a [routerLink]="['/inicio']" style="color: slategray" class="list-group-item" data-toggle="collapse"
                        aria-expanded="false">Mensuales
                    </a>
                </div>
            </div>
        </div>
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
            <div class="container">
                <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mr-auto mt-md-0 "></ul>
                        <ul class="navbar-nav my-lg-0 ml-auto"><a [routerLink]="['/inicio']">{{date_expression
                                | date:'short'}}</a></ul>
                    </div>
                </nav>
            </div>

            <hr>
            <div class="page-header">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>