<div *ngIf="!isValid" class="alert alert-warning col-sm-8">
  <strong>Danger!</strong> {{mensage}}
</div>
<div class="col-sm-12">
  <div class="form-group  col-sm-9">
    <h1>Lista de Productos</h1> <button [routerLink]="['/crearProducto']" class="btn btn-primary">Agregar Producto</button>
  </div>
  <div>
    <input type="text" class="form-control" id="nombre" (input)="filtrar($event.target.value)" placeholder="ingrese filtro">
  </div>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.idTipoproducto.descripcion}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio | number : '1.2-2'}}</td>
        <td>
          <span>
            <button class="btn btn-outline-primary btn-sm fa fa-edit" (click)="editProducto(item)"></button>
            <button class="btn btn-outline-danger btn-sm fa fa-trash" (click)="deleteProducto(item)"></button>
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>